Repository ile-24556/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: fish-indent, fish-syntax, test-fish-function-mkdir-if-not-exists

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
  - id: check-added-large-files
  - id: check-case-conflict
  - id: check-executables-have-shebangs
  - id: check-illegal-windows-names
  - id: check-json
  - id: check-merge-conflict
  - id: check-shebang-scripts-are-executable
  - id: check-symlinks
  - id: check-toml
  - id: check-xml
  - id: check-yaml
  - id: destroyed-symlinks
  - id: detect-aws-credentials
    args:
    - --allow-missing-credentials
  - id: detect-private-key
  - id: end-of-file-fixer
  - id: fix-byte-order-marker
  - id: forbid-new-submodules
  - id: forbid-submodules
  - id: mixed-line-ending
  - id: pretty-format-json
  - id: requirements-txt-fixer
  - id: trailing-whitespace
- repo: https://github.com/DavidAnson/markdownlint-cli2
  rev: v0.20.0
  hooks:
  - id: markdownlint-cli2

# fish shell is required
- repo: local
  hooks:
  - id: fish-indent
    name: indent fish scripts
    language: unsupported
    entry: fish_indent --write
    files: \.fish$
  - id: fish-syntax
    name: check fish syntax
    language: unsupported
    entry: fish --no-execute
    files: \.fish$
  - id: test-fish-function-mkdir-if-not-exists
    name: test fish function mkdir_if_not_exists
    language: unsupported
    entry: fish tests/test_mkdir_if_not_exists.fish
    files: fish/functions/[^/]+\.fish$

fix: Run mise self-update before updating cargo bins
  src/dot_config/fish/functions/update_everything.fish
  src/readonly_Documents/PowerShell/Microsoft.PowerShell_profile.ps1.tmpl
Due: fish-indent, fish-syntax, test-fish-function-mkdir-if-not-exists

style: Format chezmoi.toml with dprint
  src/.chezmoi.toml.tmpl
  src/run_after_format_templated_configs.fish
Due: fish-indent, fish-syntax

fix: Fall back with 'Noto Sans Math'
  src/.chezmoi.toml.tmpl
Due: none

fix: Change font size and window padding of Ghostty
  src/dot_config/ghostty/config.tmpl
Due: none

fix: Append fallback gneric font families
  src/.chezmoi.toml.tmpl
Due: none

fix: Use tabular numbers only in IDE UIs
  scripts/install_fonts.fish
  src/.chezmoi.toml.tmpl
  src/.chezmoitemplates/zed/settings.json
  src/dot_config/fontconfig/fonts.conf.tmpl
Due: fish-indent, fish-syntax

feat: Install Merriweather font
  scripts/install_fonts.fish
Due: fish-indent, fish-syntax

fix: Exclude mise from cargo-binstalling list
  src/dot_config/fish/functions/update_everything.fish
  src/readonly_Documents/PowerShell/Microsoft.PowerShell_profile.ps1.tmpl
Due: fish-indent, fish-syntax, test-fish-function-mkdir-if-not-exists

Initialize zoxide in fish config
  src/dot_config/fish/conf.d/zoxide.fish.tmpl
Due: none

ci: Update dependency actions
  .github/workflows/check_code.yaml
Due: none

chore: Add Cargo binaries for installing optionally
  scripts/optional_tools.fish
Due: fish-indent, fish-syntax

fix: Merge fish configs that initialize tools
  src/dot_config/fish/conf.d/init_tools.fish.tmpl
  src/dot_config/fish/conf.d/zoxide.fish.tmpl
Due: none

fix: Update dprint plugin in global config
  src/dot_config/dprint/dprint.jsonc
Due: none

feat: Enable autoStash and autoSquash in git-rebase
  src/dot_config/git/config.tmpl
Due: none

feat: Add abbreviation for `git commit --fixup`
  src/dot_config/fish/conf.d/abbreviations.fish
Due: fish-indent, fish-syntax

Quit managing Windows Terminal settings
  others/WindowsTerminal__settings.json
Due: none

Change Git core.editor from Zed to VS Code
  src/dot_config/git/config.tmpl
Due: none

Remove unused .chezmoiignore entry
  src/.chezmoiignore
Due: none

Update dprint plugins and move to npm specifiers
  .dprint.jsonc
  src/dot_config/dprint/dprint.jsonc
Due: none

Use double quotes in Starship config
  src/dot_config/starship.toml
Due: none

Use trailing commas in JSONC files
  .dprint.jsonc
  src/dot_config/dprint/dprint.jsonc
Due: none

Prefer double quotes in TypeScript if appropriate
  .dprint.jsonc
  src/dot_config/dprint/dprint.jsonc
Due: none

Remove unused dprint configs
  .dprint.jsonc
Due: none

Use dprint markdown plugin 0.22.1
  .dprint.jsonc
  src/dot_config/dprint/dprint.jsonc
Due: none
