Repository ile-24556/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: fish-indent, fish-syntax, test-fish-function-mkdir-if-not-exists

fish-indent:
  name: indent fish scripts
  language: unsupported
  entry: fish_indent --write

fish-syntax:
  name: check fish syntax
  language: unsupported
  entry: fish --no-execute

test-fish-function-mkdir-if-not-exists:
  name: test fish function mkdir_if_not_exists
  language: unsupported
  entry: fish tests/test_mkdir_if_not_exists.fish

Generate 'chezmoi git' aliases from git aliases
  src/dot_aliases.sh
  src/dot_config/fish/functions/cmg.fish
  src/dot_config/fish/functions/cmga.fish
  src/dot_config/fish/functions/cmgb.fish
  src/dot_config/fish/functions/cmgbd.fish
  src/dot_config/fish/functions/cmgbl.fish
  src/dot_config/fish/functions/cmgc.fish
  src/dot_config/fish/functions/cmgca.fish
  src/dot_config/fish/functions/cmgd.fish
  src/dot_config/fish/functions/cmgdc.fish
  src/dot_config/fish/functions/cmgl.fish
  src/dot_config/fish/functions/cmglf.fish
  src/dot_config/fish/functions/cmglg.fish
  src/dot_config/fish/functions/cmgll.fish
  src/dot_config/fish/functions/cmglsf.fish
  src/dot_config/fish/functions/cmgmv.fish
  src/dot_config/fish/functions/cmgrb.fish
  src/dot_config/fish/functions/cmgrm.fish
  src/dot_config/fish/functions/cmgrs.fish
  src/dot_config/fish/functions/cmgrst.fish
  src/dot_config/fish/functions/cmgrv.fish
  src/dot_config/fish/functions/cmgs.fish
  src/dot_config/fish/functions/cmgsh.fish
  src/dot_config/fish/functions/cmgsl.fish
  src/dot_config/fish/functions/cmgw.fish
  src/run_onchange_before_aliases.fish
Due: fish-indent, fish-syntax, test-fish-function-mkdir-if-not-exists

Fix run_once_ scripts
  src/run_once_before_ubuntu_install_tools.sh
  src/run_once_before_win_install_tools.ps1
Due: none

Reduce bat config templates
  src/AppData/Roaming/bat/config.tmpl
  src/dot_config/bat/config
  src/dot_config/bat/config.tmpl
Due: none

Use the same bat config path on Linux and Windows
  src/.chezmoiignore
  src/AppData/Roaming/bat/config.tmpl
  src/readonly_Documents/PowerShell/Microsoft.PowerShell_profile.ps1
Due: none

Add dprint global config
  src/dot_config/dprint/dprint.jsonc
  src/readonly_Documents/PowerShell/Microsoft.PowerShell_profile.ps1
Due: none

Ignore fish script on Windows
  src/.chezmoiignore
Due: none

Avoid test directory conflict with mktemp
  .pre-commit-config.yaml
  tests/test_mkdir_if_not_exists.fish
  tests/test_prepend_path.fish
Due: fish-indent, fish-syntax

Use dprint check action
  .github/workflows/checks.yaml
Due: none

Set Git date format to iso-strict-local globally
  src/dot_config/git/config.tmpl
Due: none

Prefer .exe if called on Windows for some tools
  src/dot_config/fish/conf.d/wsl.fish
Due: fish-indent, fish-syntax

Re-organize fish config files
  src/dot_config/fish/conf.d/envs_and_paths.fish
  src/dot_config/fish/conf.d/paths.fish
  src/dot_config/fish/conf.d/wsl.fish
  src/dot_config/fish/config.fish
  src/dot_config/fish/functions/bat.fish
  src/dot_config/fish/functions/git.fish
  src/dot_config/fish/functions/rg.fish
  src/dot_config/fish/functions/try_win_exe.fish
Due: fish-indent, fish-syntax, test-fish-function-mkdir-if-not-exists

Define chezmoi data.env keys for shorthand
  src/.chezmoi.toml.tmpl
Due: none

Error on template missing keys
  src/.chezmoi.toml.tmpl
Due: none

Refine templates
  src/.chezmoi.toml.tmpl
  src/.chezmoiignore
  src/.chezmoiremove
  src/dot_config/git/config.tmpl
Due: none

Improve WSL-specific fish functions
  src/dot_config/fish/functions/bat.fish
  src/dot_config/fish/functions/bat.fish.tmpl
  src/dot_config/fish/functions/git.fish
  src/dot_config/fish/functions/git.fish.tmpl
  src/dot_config/fish/functions/rg.fish
  src/dot_config/fish/functions/rg.fish.tmpl
  src/dot_config/fish/functions/try_win_exe.fish
Due: fish-indent, fish-syntax, test-fish-function-mkdir-if-not-exists

Run workflow only on main branch once
  .github/workflows/checks.yaml
Due: none

Set 5-minute timeout for each job
  .github/workflows/checks.yaml
Due: none

Run on Bash with strict options
  .github/workflows/checks.yaml
Due: none

Run initial script in GitHub workflow
  .github/workflows/checks.yaml
  src/run_once_before_ubuntu_install_tools.sh
Due: none

ci: Set environment variable TZ before runnning
  .github/workflows/checks.yaml
  src/run_once_before_ubuntu_install_tools.sh
Due: none

fix: Add PATHs not to stop installation
  src/run_once_before_ubuntu_install_tools.sh
Due: none

fix: Remove unused alias-generating fish script
  src/run_onchange_before_aliases.fish
Due: fish-indent, fish-syntax

fix: Windows tool installation
  src/run_once_before_win_install_tools.ps1
Due: none

fix: Specify -y and --ppa for add-apt-repository
  src/run_once_before_ubuntu_install_tools.sh
Due: none

style: Reorder workflow config
  .github/workflows/checks.yaml
Due: none

ci: Grant no permissions to GITHUB_TOKEN
  .github/workflows/checks.yaml
Due: none

fix: Use apt-get with quiet option
  src/run_once_before_ubuntu_install_tools.sh
Due: none

fix: Quote shell variables
  src/run_once_before_ubuntu_install_tools.sh
Due: none

fix: Allow useless-use-of-cat for a statement
  src/run_once_before_ubuntu_install_tools.sh
Due: none

fix: add-apt-repository does not have -q option
  src/run_once_before_ubuntu_install_tools.sh
Due: none

fix: Fix printing message in script
  src/run_once_before_ubuntu_install_tools.sh
Due: none

feat: Add fish function update_everything
  src/dot_config/fish/functions/upgrate_everything.fish
Due: fish-indent, fish-syntax, test-fish-function-mkdir-if-not-exists

refactor: Reduce apt invocations with --update option
  src/run_once_before_ubuntu_install_tools.sh
Due: none

ci: Ignore ShellCheck CS2016 for line
  src/run_once_before_ubuntu_install_tools.sh
Due: none

feat: Improve Git command abbreviations
  src/dot_config/fish/conf.d/abbreviations.fish
Due: fish-indent, fish-syntax

fix: Prepend paths before chezmoi-apply starts
  src/run_once_before_ubuntu_install_tools.sh
Due: none

revert: Reduce apt invocations with --update option
  src/run_once_before_ubuntu_install_tools.sh
Due: none

fix: Output command before execution in CI
  src/run_once_before_ubuntu_install_tools.sh
Due: none

Path conditions:
  fish-indent: any of: \.fish$
  fish-syntax: any of: \.fish$
  test-fish-function-mkdir-if-not-exists: any of: fish/functions/[^/]+\.fish$
