Repository ile-24556/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: fish-indent, fish-syntax, test-fish-function-mkdir-if-not-exists

fish-indent:
  name: indent fish scripts
  language: unsupported
  entry: fish_indent --write

fish-syntax:
  name: check fish syntax
  language: unsupported
  entry: fish --no-execute

test-fish-function-mkdir-if-not-exists:
  name: test fish function mkdir_if_not_exists
  language: unsupported
  entry: fish tests/test_mkdir_if_not_exists.fish

Reduce web requests in main install scripts
  install.ps1
  install.sh
  scripts/optional_tools.fish
  scripts/optional_tools.ps1
Due: fish-indent, fish-syntax

refactor: Make WinGet installation function
  install.ps1
Due: none

ci: Skip actionlint in workflow
  .github/workflows/checks.yaml
Due: none

feat: Install favourite fonts with scripts
  scripts/install_fonts.fish
Due: fish-indent, fish-syntax

docs: Add README for scripts directory
  scripts/README.md
Due: none

feat: Add Update-Everything function
  scripts/optional_tools.ps1
  src/readonly_Documents/PowerShell/Microsoft.PowerShell_profile.ps1.tmpl
Due: none

fix: Specify downloaded font filename
  scripts/install_fonts.fish
Due: fish-indent, fish-syntax

fix: Specify fonts in Ghostty config
  src/dot_config/ghostty/config
Due: none

feat: Define minimum set of aliases for Bash
  src/dot_bashrc
Due: none

fix: Allow C~F drives in try_win_exe.fish
  src/dot_config/fish/functions/try_win_exe.fish
Due: fish-indent, fish-syntax, test-fish-function-mkdir-if-not-exists

chore: Re-install Ubuntu-24.04 on WSL and tidy profiles
  src/AppData/Local/Packages/Microsoft.WindowsTerminal_8wekyb3d8bbwe/LocalState/settings.json
Due: none

fix: Install Ubuntu on WSL via wsl command
  scripts/optional_tools.ps1
Due: none

fix: `mise install` after `chezmoi apply`
  install.ps1
  install.sh
Due: none

feat: Add fonts.conf to use preferable fonts
  src/dot_config/fontconfig/fonts.conf
Due: none

chore: Syntax-highlight fonts.conf as XML
  .vscode/settings.json
Due: none

refactor: Specify options for font family tests
  src/dot_config/fontconfig/fonts.conf
Due: none

style: Format font-config with dprint markup
  .dprint.jsonc
  src/dot_config/fontconfig/fonts.conf
Due: none

fix: Change font fallback order in Firefox
  manual_install/firefox_user.js
Due: none

fix: Use 'Noto Serif' as fallback to Latin serif font
  manual_install/firefox_user.js
  src/dot_config/fontconfig/fonts.conf
Due: none

fix: Update mise before installing tools
  install.ps1
  install.sh
Due: none

feat: Specify generic UI font families
  src/dot_config/fontconfig/fonts.conf
Due: none

fix: Move Firefox user.js to firefox directory
  manual_install/firefox/user.js
Due: none

style: Format CSS with dprint
  .dprint.jsonc
  .vscode/settings.json
Due: none

feat: Enable Firefox chrome customization
  manual_install/firefox/chrome/userChrome.css
  manual_install/firefox/chrome/userContent.css
  manual_install/firefox/user.js
Due: none

feat: Place Firefox configs into every profile
  src/.chezmoiignore
  src/run_after_firefox_configs.fish
  src/run_after_firefox_configs.ps1
Due: fish-indent, fish-syntax

fix: Set chezmoi's .fish interpreter to fish
  src/.chezmoi.toml.tmpl
Due: none

fix: Narrow Firefox profile pattern
  src/run_after_firefox_configs.fish
  src/run_after_firefox_configs.ps1
Due: fish-indent, fish-syntax

fix: Understand how font families are resolved
  src/dot_config/fontconfig/fonts.conf
Due: none

fix: Replace Noto Sans with Open Sans
  src/dot_config/fontconfig/fonts.conf
Due: none

feat: Reject fonts I don't want to see on Linux
  src/dot_config/fontconfig/fonts.conf
Due: none

feat: Replace fonts I don't want to see on Firefox
  manual_install/firefox/chrome/userContent.css
Due: none

feat: Drop unwanted font fallbacks
  src/dot_config/fontconfig/fonts.conf
Due: none

feat: Defer Noto Sans CJK JP in Discord
  src/dot_config/fontconfig/fonts.conf
Due: none

fix: Install Source Code Pro in temporary directory
  scripts/install_fonts.fish
Due: fish-indent, fish-syntax

feat: Install Inter Variable font
  scripts/install_fonts.fish
Due: fish-indent, fish-syntax

refactor: Add section comments to Ghostty config
  src/dot_config/ghostty/config
Due: none

feat: Add some keybindings
  src/dot_config/ghostty/config
Due: none

feat: Change main sans-serif font to Inter Variable
  manual_install/firefox/user.js
  src/dot_config/fontconfig/fonts.conf
Due: none

fix: Use strong bindings to prioritize Latin fonts
  src/dot_config/fontconfig/fonts.conf
Due: none

Path conditions:
  fish-indent: any of: \.fish$
  fish-syntax: any of: \.fish$
  test-fish-function-mkdir-if-not-exists: any of: fish/functions/[^/]+\.fish$
