Repository ile-24556/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: fish-indent, test-fish-function-mkdir-if-not-exists

fish-indent:
  name: indent fish scripts
  language: unsupported
  entry: fish_indent --write

test-fish-function-mkdir-if-not-exists:
  name: test fish function mkdir_if_not_exists
  language: unsupported
  entry: fish tests/test_mkdir_if_not_exists.fish

First cat, then source output
  tests/test_mkdir_if_not_exists.fish
Due: fish-indent, test-fish-function-mkdir-if-not-exists

Source all fish functions in one line
  tests/test_mkdir_if_not_exists.fish
Due: fish-indent, test-fish-function-mkdir-if-not-exists

Comment that fish is required for pre-commit
  .pre-commit-config.yaml
Due: none

Test when any fish function is changed
  .pre-commit-config.yaml
Due: none

Check fish syntax on pre-commit
  .pre-commit-config.yaml
Due: none

Run pre-commit on right-hand matched files changes
  .pre-commit-config.yaml
Due: none

Remove duplicate tests
  .github/workflows/pre-commit.yml
Due: none

Cache pre-commit dependencies
  .github/workflows/pre-commit.yml
Due: none

Ignore fish_variables file
  .gitignore
  home/.config/fish/fish_variables
Due: none

Revert "Cache pre-commit dependencies"
  .github/workflows/pre-commit.yml
Due: none

Install bat via Cargo, not via apt
  home/.config/posix_shells/aliases.sh
Due: none

Define batman and bathelp as fish abbreviations
  home/.config/fish/conf.d/abbreviations.fish
  home/.config/posix_shells/aliases.sh
Due: fish-indent

Abbreviations should be short
  home/.config/fish/conf.d/abbreviations.fish
Due: fish-indent

Initialize mise in fish interactive shell
  home/.config/fish/config.fish
Due: fish-indent

Add path for Deno
  home/.config/fish/conf.d/deno.fish
Due: fish-indent

Add bat aliases
  home/.config/posix_shells/aliases.sh
Due: none

Bid farewell to Zsh
  home/.bashrc
  home/.config/bash/aliases.sh
  home/.config/bash/config.sh
  home/.config/bash/xdg-based-variables.sh
  home/.config/bash/xdg-directories.sh
  home/.config/fish/conf.d/aliases.fish
  home/.config/posix_shells/README.md
  home/.config/zsh/.zshrc
  home/.config/zsh/zcompile-plugin.sh
  home/.zshenv
Due: fish-indent

Add manual_install directory
  manual_install/README.md
Due: none

Add Firefox user config file
  manual_install/firefox_user.js
Due: none

Format files with dprint
  .github/workflows/pre-commit.yml
  .pre-commit-config.yaml
  .vscode/settings.json
  dprint.jsonc
Due: none

Rename GitHub workflow file and job
  .github/workflows/checks.yaml
Due: none

Quit adhering to XDG Base Directory Specification
  home/.bashrc
  home/.config/bash/aliases.sh
  home/.config/bash/config.sh
  home/.config/bash/xdg-based-variables.sh
  home/.config/fish/conf.d/_xdg_base_directories.fish
  home/.config/fish/conf.d/rustup.fish
Due: fish-indent

Allow all GNU/Linux to stow dotfiles
  bootstrap.sh
Due: none

Reduce Bash configs
  home/.bashrc
  home/.config/bash/aliases.sh
  home/.config/bash/config.sh
  home/.config/bash/xdg-directories.sh
  home/.config/fish/conf.d/aliases.fish
Due: fish-indent

Always activate mise with any path
  home/.config/fish/config.fish
Due: fish-indent

Export GPG_TTY always as documented
  home/.config/fish/conf.d/wsl.fish
  home/.config/fish/config.fish
Due: fish-indent

Sign commits with SSH key in 1Password on WSL
  home/.config/git/config
Due: none

Add Ghostty config
  .vscode/settings.json
  home/.config/ghostty/config
Due: none

Add Zellij config
  home/.config/zellij/config.kdl
Due: none

Ignore fish completions
  .gitignore
Due: none

Add script to install tools
  install_tools.sh
Due: none

Modify bootstrap.sh permissions and Bash options
  bootstrap.sh
Due: none

Use subdirectory 'home' as root of chezmoi source
  .chezmoiroot
Due: none

Rename dotfiles to manage them with chezmoi
  home/dot_bash_logout
  home/dot_bashrc
  home/dot_config/bat/config
  home/dot_config/fish/conf.d/_xdg_base_directories.fish
  home/dot_config/fish/conf.d/abbreviations.fish
  home/dot_config/fish/conf.d/aliases.fish
  home/dot_config/fish/conf.d/deno.fish
  home/dot_config/fish/conf.d/rustup.fish
  home/dot_config/fish/conf.d/starship.fish
  home/dot_config/fish/conf.d/uv.env.fish
  home/dot_config/fish/conf.d/wsl.fish
  home/dot_config/fish/config.fish
  home/dot_config/fish/functions/err.fish
  home/dot_config/fish/functions/log.fish
  home/dot_config/fish/functions/mkdir_if_not_exists.fish
  home/dot_config/ghostty/config
  home/dot_config/git/config
  home/dot_config/git/ignore
  home/dot_config/starship.toml
  home/dot_config/zellij/config.kdl
  home/dot_profile
Due: fish-indent, test-fish-function-mkdir-if-not-exists

Use template for git config gpg.ssh.program
  home/dot_config/git/config.tmpl
Due: none

Remove unused bootstrapping script
  bootstrap.sh
Due: none

Add link to chezmoi web site in README
  README.md
Due: none

Add mise-en-place config
  home/dot_config/mise/config.toml
Due: none

Add script to install tools
  home/run_once_install_tools.sh.tmpl
Due: none

Fix paths of test target functions
  tests/test_mkdir_if_not_exists.fish
Due: fish-indent, test-fish-function-mkdir-if-not-exists

Path conditions:
  fish-indent: any of: ^.*\.fish$
  test-fish-function-mkdir-if-not-exists: any of: ^.*mkdir_if_not_exists\.fish$
