Repository ile-24556/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: fish-indent, fish-syntax, test-fish-function-mkdir-if-not-exists

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
  - id: check-added-large-files
  - id: check-case-conflict
  - id: check-executables-have-shebangs
  - id: check-illegal-windows-names
  - id: check-json
  - id: check-merge-conflict
  - id: check-shebang-scripts-are-executable
  - id: check-symlinks
  - id: check-toml
  - id: check-xml
  - id: check-yaml
  - id: destroyed-symlinks
  - id: detect-aws-credentials
    args:
    - --allow-missing-credentials
  - id: detect-private-key
  - id: end-of-file-fixer
  - id: fix-byte-order-marker
  - id: forbid-new-submodules
  - id: forbid-submodules
  - id: mixed-line-ending
  - id: pretty-format-json
  - id: requirements-txt-fixer
  - id: trailing-whitespace
- repo: https://github.com/DavidAnson/markdownlint-cli2
  rev: v0.20.0
  hooks:
  - id: markdownlint-cli2

# fish shell is required
- repo: local
  hooks:
  - id: fish-indent
    name: indent fish scripts
    language: unsupported
    entry: fish_indent --write
    files: \.fish$
  - id: fish-syntax
    name: check fish syntax
    language: unsupported
    entry: fish --no-execute
    files: \.fish$
  - id: test-fish-function-mkdir-if-not-exists
    name: test fish function mkdir_if_not_exists
    language: unsupported
    entry: fish tests/test_mkdir_if_not_exists.fish
    files: fish/functions/[^/]+\.fish$

Test chezmoi-apply in GitHub workflow
  .github/workflows/checks.yaml
Due: none

Ignore template files in shebang check
  .pre-commit-config.yaml
Due: none

Exclude run_once scripts in chezmoi-apply job
  .github/workflows/checks.yaml
Due: none

Create fish completions directory beforehand
  home/run_once_install_tools.sh.tmpl
Due: none

Install pre-commit hooks on first chezmoi-apply
  home/run_once_install_tools.sh.tmpl
Due: none

cd to repo root before pre-commit install
  home/run_once_install_tools.sh.tmpl
Due: none

Quote variable extensions in Bash script
  home/run_once_install_tools.sh.tmpl
Due: none

Remove Git files at ~; Use ~/.config/git instead
  home/.chezmoiremove
Due: none

Return zero when template key is missing
  home/.chezmoi.toml.tmpl
Due: none

Use pwsh when `chezmoi cd` on Windows
  home/.chezmoi.toml.tmpl
Due: none

Handle different bat config locations
  home/.chezmoiignore
  home/.chezmoitemplates/bat.config
  home/AppData/Roaming/bat/config.tmpl
  home/dot_config/bat/config.tmpl
Due: none

Avoid executing shell script on Windows
  home/.chezmoiignore
  home/run_once_ubuntu_install_tools.sh
Due: none

Ignore by script extensions in .chezmoiignore
  home/.chezmoiignore
  home/run_once_ubuntu_install_tools.sh
Due: none

Add installing script for Windows
  home/run_once_win_install_tools.ps1
Due: none

Disable check-shebang-scripts-are-executable
  .pre-commit-config.yaml
Due: none

Check if it is Ubuntu in script
  home/run_once_ubuntu_install_tools.sh
Due: none

Remove Deno's path-adding script
  home/dot_config/fish/conf.d/deno.fish
Due: fish-indent, fish-syntax

Add uv path directly
  home/dot_config/fish/conf.d/uv.env.fish
Due: fish-indent, fish-syntax

Add PowerShell config
  home/readonly_Documents/PowerShell/Microsoft.PowerShell_profile.ps1
Due: none

Ignore user libraries except for pwsh profile
  home/.chezmoiignore
Due: none

Fix .chezmoiignore entries
  home/.chezmoiignore
Due: none

Manage fish completions explicitly
  .gitignore
  home/dot_config/fish/completions/bat.fish.tmpl
  home/dot_config/fish/completions/chezmoi.fish.tmpl
  home/dot_config/fish/completions/deno.fish.tmpl
  home/dot_config/fish/completions/dprint.fish.tmpl
  home/dot_config/fish/completions/gh.fish.tmpl
  home/dot_config/fish/completions/mise.fish.tmpl
  home/dot_config/fish/completions/uv.fish.tmpl
  home/run_once_ubuntu_install_tools.sh
Due: none

Edit fish aliases and functions
  home/dot_config/fish/conf.d/abbreviations.fish
  home/dot_config/fish/conf.d/aliases.fish
  home/dot_config/fish/functions/bh.fish
  home/dot_config/fish/functions/bhh.fish
  home/dot_config/fish/functions/bm.fish
Due: fish-indent, fish-syntax, test-fish-function-mkdir-if-not-exists

Simplify gpg.ssh.program decision
  home/dot_config/git/config.tmpl
Due: none

Define Git config differences in chezmoi data
  .vscode/settings.json
  home/.chezmoi.toml.tmpl
  home/dot_config/git/config.tmpl
Due: none

Add Windows Terminal config
  home/AppData/Local/Packages/Microsoft.WindowsTerminal_8wekyb3d8bbwe/LocalState/settings.json
Due: none

Call mise-activate on chezmoi-apply, not on fish
  home/dot_config/fish/conf.d/mise.fish.tmpl
  home/dot_config/fish/config.fish
Due: fish-indent, fish-syntax

Ignore and remove fish config on Windows
  home/.chezmoiignore
  home/.chezmoiremove
Due: none

Fix ignore config for Documents
  home/.chezmoiignore
Due: none

Set path for mise shims instead of activate
  home/dot_config/fish/conf.d/mise.fish
  home/dot_config/fish/conf.d/mise.fish.tmpl
Due: fish-indent, fish-syntax

Template Git config in the file
  home/.chezmoi.toml.tmpl
  home/dot_config/git/config.tmpl
Due: none

Add fish function prepend_path
  home/dot_config/fish/functions/prepend_path.fish
  tests/test_prepend_path.fish
Due: fish-indent, fish-syntax, test-fish-function-mkdir-if-not-exists

Merge path-adding fish config scripts
  home/.chezmoiremove
  home/dot_config/fish/conf.d/mise.fish
  home/dot_config/fish/conf.d/paths.fish
  home/dot_config/fish/conf.d/rustup.fish
  home/dot_config/fish/conf.d/uv.env.fish
Due: fish-indent, fish-syntax

Add rustup completions for fish
  home/dot_config/fish/completions/rustup.fish.tmpl
Due: none

Cache starship-init result on chezmoi-apply
  home/dot_config/fish/conf.d/starship.fish
  home/dot_config/fish/conf.d/starship.fish.tmpl
Due: fish-indent, fish-syntax

Config fish only in login shell as much as it can
  home/dot_config/fish/conf.d/_xdg_base_directories.fish
  home/dot_config/fish/conf.d/paths.fish
  home/dot_config/fish/conf.d/wsl.fish
  home/dot_config/fish/config.fish
Due: fish-indent, fish-syntax

Save aliased functions before chezmoi-apply
  src/dot_config/fish/conf.d/aliases.fish
  src/dot_config/fish/functions/aliases/cm.fish
  src/dot_config/fish/functions/aliases/ga.fish
  src/dot_config/fish/functions/aliases/gb.fish
  src/dot_config/fish/functions/aliases/gbd.fish
  src/dot_config/fish/functions/aliases/gbl.fish
  src/dot_config/fish/functions/aliases/gc.fish
  src/dot_config/fish/functions/aliases/gca.fish
  src/dot_config/fish/functions/aliases/gd.fish
  src/dot_config/fish/functions/aliases/gdc.fish
  src/dot_config/fish/functions/aliases/gl.fish
  src/dot_config/fish/functions/aliases/glf.fish
  src/dot_config/fish/functions/aliases/glg.fish
  src/dot_config/fish/functions/aliases/gll.fish
  src/dot_config/fish/functions/aliases/glsf.fish
  src/dot_config/fish/functions/aliases/gmv.fish
  src/dot_config/fish/functions/aliases/grb.fish
  src/dot_config/fish/functions/aliases/grm.fish
  src/dot_config/fish/functions/aliases/grs.fish
  src/dot_config/fish/functions/aliases/grst.fish
  src/dot_config/fish/functions/aliases/grv.fish
  src/dot_config/fish/functions/aliases/gs.fish
  src/dot_config/fish/functions/aliases/gsh.fish
  src/dot_config/fish/functions/aliases/gsl.fish
  src/dot_config/fish/functions/aliases/gw.fish
  src/dot_config/fish/functions/aliases/l.fish
  src/dot_config/fish/functions/aliases/la.fish
  src/dot_config/fish/functions/aliases/ll.fish
  src/dot_config/fish/functions/aliases/ls.fish
  src/dot_config/fish/functions/aliases/py.fish
  src/run_onchange_before_aliases.fish
  tests/test_mkdir_if_not_exists.fish
  tests/test_prepend_path.fish
Due: fish-indent, fish-syntax

Add aliases
  src/dot_config/fish/functions/aliases/cmad.fish
  src/dot_config/fish/functions/aliases/cmap.fish
  src/dot_config/fish/functions/aliases/cmd.fish
  src/dot_config/fish/functions/aliases/cmg.fish
  src/dot_config/fish/functions/aliases/cmup.fish
  src/dot_config/fish/functions/aliases/g.fish
  src/run_onchange_before_aliases.fish
Due: fish-indent, fish-syntax

Add README for fish aliases
  src/dot_config/fish/functions/aliases/README.md
Due: none
