Repository ile-24556/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: fish-indent, fish-syntax, test-fish-function-mkdir-if-not-exists

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
  - id: check-added-large-files
  - id: check-case-conflict
  - id: check-executables-have-shebangs
  - id: check-illegal-windows-names
  - id: check-json
  - id: check-merge-conflict
  - id: check-shebang-scripts-are-executable
  - id: check-symlinks
  - id: check-toml
  - id: check-xml
  - id: check-yaml
  - id: destroyed-symlinks
  - id: detect-aws-credentials
    args:
    - --allow-missing-credentials
  - id: detect-private-key
  - id: end-of-file-fixer
  - id: fix-byte-order-marker
  - id: forbid-new-submodules
  - id: forbid-submodules
  - id: mixed-line-ending
  - id: pretty-format-json
  - id: requirements-txt-fixer
  - id: trailing-whitespace
- repo: https://github.com/DavidAnson/markdownlint-cli2
  rev: v0.20.0
  hooks:
  - id: markdownlint-cli2

# fish shell is required
- repo: local
  hooks:
  - id: fish-indent
    name: indent fish scripts
    language: unsupported
    entry: fish_indent --write
    files: \.fish$
  - id: fish-syntax
    name: check fish syntax
    language: unsupported
    entry: fish --no-execute
    files: \.fish$
  - id: test-fish-function-mkdir-if-not-exists
    name: test fish function mkdir_if_not_exists
    language: unsupported
    entry: fish tests/test_mkdir_if_not_exists.fish
    files: fish/functions/[^/]+\.fish$

fix: Install pre-commit with uv in Windows
  install.ps1
Due: none

fix: Generate completion if command is availbale
  src/dot_config/fish/completions/bat.fish.tmpl
  src/dot_config/fish/completions/chezmoi.fish.tmpl
  src/dot_config/fish/completions/deno.fish.tmpl
  src/dot_config/fish/completions/dprint.fish.tmpl
  src/dot_config/fish/completions/gh.fish.tmpl
  src/dot_config/fish/completions/mise.fish.tmpl
  src/dot_config/fish/completions/rustup.fish.tmpl
  src/dot_config/fish/completions/uv.fish.tmpl
Due: none

fix: Add go path if go is available
  src/dot_config/fish/conf.d/envs_and_paths.fish
Due: fish-indent, fish-syntax

fix: Improve prepend_path
  src/dot_config/fish/functions/prepend_path.fish
Due: fish-indent, fish-syntax, test-fish-function-mkdir-if-not-exists

fix: Add fish PPA with add-apt-repository
  install.sh
Due: none

fix: Install go directly without mise
  install.ps1
  install.sh
  src/dot_config/fish/conf.d/envs_and_paths.fish
  src/dot_config/mise/config.toml
Due: fish-indent, fish-syntax

fix: Install chezmoi directly without mise
  .github/workflows/checks.yaml
  install.ps1
  install.sh
  src/dot_config/mise/config.toml
Due: none

fix: Drop mise completion for fish
  src/dot_config/fish/completions/mise.fish.tmpl
  src/dot_config/mise/config.toml
Due: none

fix: Install chezmoi with mise in Ubuntu
  .github/workflows/checks.yaml
  install.sh
  src/dot_config/mise/config.toml
  src/dot_config/mise/config.toml.tmpl
Due: none

ci: Re-organize GitHub workflow file
  .github/workflows/checks.yaml
Due: none

fix: Initialize starship if it is available
  src/dot_config/fish/conf.d/starship.fish.tmpl
Due: none

chore: Hide dprint config file
  .dprint.jsonc
Due: none

fix: Tidy fish abbreviations
  src/dot_config/fish/conf.d/abbreviations.fish
Due: fish-indent, fish-syntax

docs: Improve installation descriptions
  README.md
Due: none

fix: Set datetime format in PowerShell explicitly
  src/readonly_Documents/PowerShell/Microsoft.PowerShell_profile.ps1
Due: none

fix: Force-remove conflict aliases in PowerShell
  src/readonly_Documents/PowerShell/Microsoft.PowerShell_profile.ps1
Due: none

fix: Do not write mise scripts directly in pwsh
  src/readonly_Documents/PowerShell/Microsoft.PowerShell_profile.ps1
Due: none

style: Tidy PowerShell profile
  src/readonly_Documents/PowerShell/Microsoft.PowerShell_profile.ps1
Due: none

feat: Edit abbreviations and aliases
  src/dot_config/fish/conf.d/abbreviations.fish
  src/readonly_Documents/PowerShell/Microsoft.PowerShell_profile.ps1
Due: fish-indent, fish-syntax

feat: Add WezTerm config
  src/dot_wezterm.lua
Due: none

feat: Add Alacritty config
  src/AppData/Roaming/alacritty/alacritty.toml
Due: none

fix: Re-do 82e0906
  src/readonly_Documents/PowerShell/Microsoft.PowerShell_profile.ps1
Due: none

fix: Make Windows Terminal font bigger
  src/AppData/Local/Packages/Microsoft.WindowsTerminal_8wekyb3d8bbwe/LocalState/settings.json
Due: none

fix: Edit WezTerm config
  src/dot_wezterm.lua
Due: none

fix: Move WezTerm config to XDG_CONFIG_HOME
  src/dot_config/wezterm/wezterm.lua
Due: none

ci: Run install scripts when they are changed
  .github/workflows/checks.yaml
  .pre-commit-config.yaml
Due: none

fix: Just mimic "command -v >/dev/null" in pwsh
  install.ps1
Due: none

fix: Swap Ubuntu visibility for penguin Tux icon
  src/AppData/Local/Packages/Microsoft.WindowsTerminal_8wekyb3d8bbwe/LocalState/settings.json
Due: none

fix: Narrow Alacritty initial window width
  src/AppData/Roaming/alacritty/alacritty.toml
Due: none

refactor: Clarify isLinux refers to native Linux
  src/.chezmoi.toml.tmpl
  src/dot_config/fish/functions/rgn.fish.tmpl
  src/dot_config/git/config.tmpl
  src/dot_config/mise/config.toml.tmpl
Due: none

refactor: Simplify non-Windows checks
  src/dot_config/git/config.tmpl
  src/dot_config/mise/config.toml.tmpl
Due: none

fix: Install actionlint not with `go install`
  install.ps1
  install.sh
  src/dot_config/mise/config.toml.tmpl
Due: none

feat: Add PowerShell profile for Linux
  src/.chezmoiignore
  src/.chezmoitemplates/Microsoft.PowerShell_profile.ps1
  src/dot_config/powershell/Microsoft.PowerShell_profile.ps1.tmpl
  src/readonly_Documents/PowerShell/Microsoft.PowerShell_profile.ps1.tmpl
Due: none

fix: Enable Python UTF-8 mode and EncodingWarning
  src/dot_config/fish/conf.d/envs_and_paths.fish
  src/readonly_Documents/PowerShell/Microsoft.PowerShell_profile.ps1.tmpl
Due: fish-indent, fish-syntax

feat: Show PowerShell icon on Starship prompt
  src/dot_config/starship.toml
Due: none

fix: Install old mise and deno; Then update them
  install.ps1
  install.sh
Due: none

fix: Check OS before installing tools
  install.ps1
  install.sh
Due: none

ci: Explicitly start new process when installing
  .github/workflows/checks.yaml
Due: none

fix: Update Deno and mise with their own commands
  src/dot_config/fish/functions/update_everything.fish
Due: fish-indent, fish-syntax, test-fish-function-mkdir-if-not-exists

fix: Apply fish env and path changes immediately
  src/dot_config/fish/conf.d/_xdg_base_directories.fish
  src/dot_config/fish/conf.d/envs_and_paths.fish
Due: fish-indent, fish-syntax
