Repository ile-24556/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: fish-indent, fish-syntax, test-fish-function-mkdir-if-not-exists

fish-indent:
  name: indent fish scripts
  language: unsupported
  entry: fish_indent --write

fish-syntax:
  name: check fish syntax
  language: unsupported
  entry: fish --no-execute

test-fish-function-mkdir-if-not-exists:
  name: test fish function mkdir_if_not_exists
  language: unsupported
  entry: fish tests/test_mkdir_if_not_exists.fish

feat: Buy Berkeley Mono
  src/.chezmoi.toml.tmpl
Due: none

fix: Recreate templated configs in update_everything
  src/dot_config/fish/functions/update_everything.fish
Due: fish-indent, fish-syntax, test-fish-function-mkdir-if-not-exists

fix: Fix pwsh Update-Everything function
  src/readonly_Documents/PowerShell/Microsoft.PowerShell_profile.ps1.tmpl
Due: none

fix: Ignore Zed template in pre-commit dprint-fmt
  .pre-commit-config.yaml
Due: none

fix: Change UI font features in Zed
  src/.chezmoitemplates/zed/settings.json
Due: none

fix: Change system-ui definition to my-ui-sans-serif
  src/dot_config/fontconfig/fonts.conf.tmpl
Due: none

Set GNOME font preference after chezmoi-apply
  src/run_after_set_gnome_fonts.fish
Due: fish-indent, fish-syntax

Prefer dotted zero to slashed zero
  src/.chezmoi.toml.tmpl
Due: none

style: Fix typos
  scripts/install_fonts.fish
Due: fish-indent, fish-syntax

Install IBM Plex Sans JP TTF and OTF
  scripts/install_fonts.fish
Due: fish-indent, fish-syntax

fix: Do not remove fonts directory every time
  scripts/install_fonts.fish
Due: fish-indent, fish-syntax

fix: Remove each font then reinstall them
  scripts/install_fonts.fish
Due: fish-indent, fish-syntax

feat: Install Adobe Source fonts at once
  scripts/install_fonts.fish
Due: fish-indent, fish-syntax

Check gsettings' schemas before setting values
  src/run_after_set_gnome_fonts.fish
Due: fish-indent, fish-syntax

feat: Do not install fonts when script is sourced
  scripts/install_fonts.fish
Due: fish-indent, fish-syntax

fix: Install TTF for SourceSans3VF
  scripts/install_fonts.fish
Due: fish-indent, fish-syntax

fix: Rename each font directory to CamelCase family name
  scripts/install_fonts.fish
Due: fish-indent, fish-syntax

refactor: Simplify wildcard patterns match font files
  scripts/install_fonts.fish
Due: fish-indent, fish-syntax

ci: Test installing fonts
  .github/workflows/install_fonts.yaml
Due: none

ci: Pass GH_TOKEN env var to script installing fonts
  .github/workflows/install_fonts.yaml
Due: none

ci: Quit installing fonts twice
  .github/workflows/install_fonts.yaml
Due: none

ci: List user-installed fonts after running script
  .github/workflows/install_fonts.yaml
Due: none

ci: Run on workflow file changes
  .github/workflows/install_dotfiles.yaml
  .github/workflows/install_fonts.yaml
Due: none

fix: Check $XDG_DATA_HOME before deciding fonts directory
  scripts/install_fonts.fish
Due: fish-indent, fish-syntax

fix: Exclude mise from apps updated with cargo
  src/readonly_Documents/PowerShell/Microsoft.PowerShell_profile.ps1.tmpl
Due: none

ci: Install fonts after installing dotfiles
  .github/workflows/install_dotfiles.yaml
  .github/workflows/install_fonts.yaml
Due: none

fix: Do not output gsettings existence checks
  src/run_after_set_gnome_fonts.fish
Due: fish-indent, fish-syntax

fix: Make GNOME fonts smaller
  src/run_after_set_gnome_fonts.fish
Due: fish-indent, fish-syntax

fix: Tweak fonts in Zed
  src/.chezmoitemplates/zed/settings.json
Due: none

fix: Narrow line height in Ghostty for current font
  src/dot_config/ghostty/config.tmpl
Due: none

feat: Consider Snap-installed Firefox profiles
  src/dot_config/firefox_relay_point/run_after_install_firefox_configs.py
Due: none

feat: Add path for Deno binaries
  src/dot_config/fish/conf.d/envs_and_paths.fish
Due: fish-indent, fish-syntax

fix: Assign my-ui-sans-serif to VS Code UI font
  src/dot_config/fontconfig/fonts.conf.tmpl
Due: none

fix: Remove undefined my-emoji font use
  src/dot_config/fontconfig/fonts.conf.tmpl
Due: none

fix: Scan user font directory only
  scripts/install_fonts.fish
Due: fish-indent, fish-syntax

feat: Build 'Inter Variable UI' with frozen features
  scripts/install_fonts.fish
Due: fish-indent, fish-syntax

fix: Use UI sans-serif fonts in Zed UI
  src/.chezmoitemplates/zed/settings.json
Due: none

fix: Use 'Inter Variable UI' as UI sans-serif font
  src/.chezmoi.toml.tmpl
Due: none

fix: Do not use 'JetBrains Mono' anymore
  src/.chezmoi.toml.tmpl
Due: none

fix: Disable compile in cargo binstall updates
  src/readonly_Documents/PowerShell/Microsoft.PowerShell_profile.ps1.tmpl
Due: none

Path conditions:
  fish-indent: any of: \.fish$
  fish-syntax: any of: \.fish$
  test-fish-function-mkdir-if-not-exists: any of: fish/functions/[^/]+\.fish$
